.title {
  font-weight: 400;
  font-size: 35px;
}

.rating_container {
  display: flex;
  align-items: center;
}

.rating {
  margin: 5px 0 0 5px;
}

.overview {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  height: 120px;
  overflow-y: hidden;
  margin-top: 10px;
}
.overview:hover {
  overflow-y: auto;
}
