.title {
  font-family: Roboto;
  font-weight: 60px;
  font-size: 20px;
}

.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: scroll;
  padding-bottom: 30px;
}

.list_item {
  margin-right: 20px;
}
